<!DOCTYPE html>
<html>
  <head>
    <title>Calmerge</title>
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/static/listing.css" />
  </head>
  <body>
    <h1>Calmerge</h1>
    <table>
      <tr>
        <th>URL</th>
        <th>Name</th>
        <th>Description</th>
        <th>Offsets</th>
        <th>TTL</th>
        <th>Auth</th>
        <th>Preview</th>
        <th>+</th>
      </tr>
      {% for calendar in config.calendars|sort(attribute="slug") %}
        <tr>
          <td><a href="{{ url('calendar', slug=calendar.slug) }}">{{ calendar.slug }}</a></td>
          <td>{{ calendar.name|default("-", true) }}</td>
          <td>{{ calendar.description|default("-", true) }}</td>
          <td>{{ calendar.offset_days|sort|join(", ") }}</td>
          <td>{{ calendar.ttl_hours }} hours</td>
          {% if config.listing.include_credentials and calendar.auth %}
            <td><code>{{ calendar.auth.username }}:{{ calendar.auth.password }}</code></td>
          {% else %}
            <td>{{ "Yes" if calendar.auth else "No" }}</td>
          {% endif %}
          <td><a href="{{ url('calendar-html', slug=calendar.slug) }}">preview</a></td>
          <td>
            <a href="{{ calendar|calendar_url }}">{{ (calendar|calendar_url).scheme|default('http', true) }}</a>
            <a href="{{ (calendar|calendar_url).with_scheme('webcal') }}">webcal</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
